{% extends 'base.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
        <h4 class="mb-3">{{ title }}</h4>
        <p><label>Цена: {{ price }} рублей</label></p>
        <p><label>{{ description }}</label></p>
        {% if username != None %}
        <hr class="my-4">
        <div class="text-center">
            <p>
                <button type="submit" class="btn btn-secondary" name="add_to_cart">В корзину</button>
            </p>
            <p>
                <button type="submit" class="btn btn-secondary" name="buy">Купить</button>
            </p>
            {% endif %}
            {% if is_admin %}
            <p>
                <button type="submit" class="btn btn-secondary" name="delete">Удалить товар</button>
            </p>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}