{% extends 'base.html' %}

{% block head %}
<title>Регистрация</title>
{% endblock %}

{% block body %}
<div class="container">
    <main class="form-signin">
        <form method="post">
            <h1 class="h3 mb-3 fw-normal">Зарегистрируйтесь</h1>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Введите имя" name="name">
                <label for="floatingInput">Введите имя</label>
            </div>
            <br>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword"
                       placeholder="Введите пароль (от 8 символов)" name="password1">
                <label for="floatingPassword">Введите пароль (от 8 символов)</label>
            </div>
            <br>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword2"
                       placeholder="Введите пароль ещё раз (от 8 символов)" name="password2">
                <label for="floatingPassword2">Введите пароль ещё раз (от 8 символов)</label>
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-secondary" type="submit">Зарегистрироваться</button>
            </div>
            <br>
            <label>{{ message }}</label>
        </form>
    </main>
</div>
{% endblock %}